body,
html {
    height: 100%;
    margin: 0;
    /* The image used */
    background-image: url("main.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

ul.nav.justify-content-end {
    margin-top: -40px;
}

.text-center {
    margin-top: 8%;
}

section {
    padding-left:22%;
    margin-top: 1%;
}

footer {
    font-size: 15px;
    text-align:right;
    width: 100%;
    bottom: 0;
    position: absolute;
    background:white;
    height: 50px;
    line-height: 50px;
    color: black;
    letter-spacing: 1px;
}

@media (max-width:500px) {
    ul.nav.justify-content-end {
        margin-top: -40px;
        font-size: 11px;
    }
    .text-center {
        margin-top: 40%;
        margin-bottom: -22%;
    }
    section {
        padding-top: -6%;
        padding-left: 0%;
        margin-top: 20%;
    }
    footer {
        font-size: 10px;
        letter-spacing: 0px;
    }
}