body,
html {
    height: 100%;
    margin: 0;
    /* The image used */
    background-image: url("main.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.ul.nav.justify-content{
    width:20%;

}
ul.nav.justify-content-end {
    margin-top: -35px;
   
}